@model StudentViewModel
<tr>
    <td>@Model.Id</td>
    <td>@Model.Name</td>
    <td>@Model.Age</td>
    <td>@Model.Gender</td>
    <td><a  role="button" class="btn btn-info" asp-action="Detail" asp-route-id="@Model.Id">Detail</a></td>
</tr>